// ------------------------------------
// BaseKit Standard Theme: LESS > Theme
// ------------------------------------
// -----------------------------
// #Table of Contents
// -----------------------------
// 1. #TYPOGRAPHY
// 2. #LANGUAGE SELECTOR
// 3. #HEADER
// 4. #FOOTER
// -----------------------------

// -----------------------------
// 1. #TYPOGRAPHY
// -----------------------------

// Colour Swatches
// ---------------
// @color-swatch1: Background
// @color-swatch2: Contrast
// @color-swatch3: Buttons
// @color-swatch4: Headings
// @color-swatch5: Paragraph
// @color-swatch6: Navigation Links
// @color-swatch7: Spare
// Colour Variables
// ----------------
@bg-color: @color-swatch1; // Background
@contrast-color: @color-swatch2; // Contrast Colour
@button-color: @color-swatch3; // Button BG Colour
@heading-color: @color-swatch4; // Heading Text Colour (H1 - H4)
@paragraph-color: @color-swatch5; // Paragraph Text Colour
@nav-color: @color-swatch6; // Nav Link Colour
@spare-color: @color-swatch7; // Spare Colour
// Font Swatches
// -------------
// font1:  Heading 1
// font2:  Heading 2
// font3:  Heading 3
// font4:  Heading 4
// font5:  Paragraph
// font6:  Navigation Link
// font7:  Buttons
// font8:  Feature Headline
// font9:  Feature Strapline
// font10: Company Name (Logo)
h1, h2, h3, h4, h5, h6,
[class*="contentgroup__h"],
.blog-post-title a,
blockquote:before,
.widget.image .image-title,
label {
    word-break: break-word;
	
    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

h5 {
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
}

p, ul, ol, li,
.contentgroup__body,
.widget.clicktocall a,
.widget.clicktocall a:hover,
blockquote,
.widget.image .image-description,
.blog-post-published-date {
    .style--light & {
        color: fade(@contrast--light, 90%);
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

a,
.ecom-productlist-price,
.ecom-featuredproducts-price {
	.style--light & {
        color: @color--accent;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

hr.line {
	background-color: lighten(@color-swatch5, 75%);

	.style--light & {
        background-color: darken(@color--light, 12%);
    }

    .style--accent & {
        background-color: darken(@color--accent, 12%);
    }

    .style--dark & {
        background-color: lighten(@color--dark, 15%);
    }
}

// -----------------------------
// 2. #LANGUAGE SELECTOR
// -----------------------------

@language-padding: 0.5em;
@language-line-height: @font-swatch7-line-height;
// General styles
.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		position: absolute;
		top: 5px;
		right: 90px;
		left: 0;
		z-index: 200;
		opacity: 1;
		box-sizing: content-box;
		margin: 30px auto;
		width: auto;
		.transition(opacity 0.5s ease 0.5s);
		@media @tablet {
			top: 70px;
			right: 34px;
		}
		@media @mobile {
			width: 100%;
		}
	}
	&.language-selector--light,
	&.language-selector--dark {
		background-color: transparent;
	}
	&.language-selector--dropdown {
		height: auto;
		text-align: left;
	}
	.language-selector__inner,
	.language-selector__list,
	.language-selector__item,
	.language-selector__link,
	.language-selector__name,
	.language-selector__localised-name {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @language-line-height;
		letter-spacing: @font-swatch7-letter-spacing;
		color: @font-swatch7-color;
	}
	&.language-selector--hide {
		opacity: 0;
	}
	&.language-selector--menu-open {
		opacity: 0;
		right: 410px;
		.transition(all 0.5s ease);
	}
}

// Inner
.language-selector__inner {
	.language-selector & {
		box-sizing: content-box;
		padding: @language-line-height 0 @language-padding*3 40px;
		height: 0;
	}
	.language-selector.language-selector--horizontal & {
		padding: 0 0 @language-padding*3 40px;
		height: @language-line-height;
	}
	.language-selector.language-selector--dropdown & {
		&:before {
			content: "";
			display: block;
			height: @language-line-height;
		}
		&:after {
			content: "";
			display: block;
			height: @language-padding*2;
		}
		@media @mobile {
			width: 100%;
		}
	}
}

// List
.language-selector__list {
	.language-selector & {
		min-width: auto;
	}
	.language-selector.language-selector--dropdown & {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0 0 0 40px;
		min-width: auto;
		max-width: ~"calc(100% - 1em)";
		@media @tablet {
			max-width: 100%;
		}
		@media @mobile {
			padding: 0 20px 0 20px;
			width: 100%;
		}
	}
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}

// Item
.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
		position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		.transition(all 0.75s ease);
	}
	// Link Color
	.language-selector.language-selector--horizontal & {
		margin: 0 0 @language-padding @language-padding;
		.language-selector--light& {
			background-color: lighten(@font-swatch7-background-color, 10%);
			&:hover,
			&--current {
				&,
				&:hover {
					background-color: lighten(@font-swatch7-background-color, 5%);
					color: @font-swatch7-color;
				}
			}
		}
		.language-selector--dark& {
			background-color: @font-swatch7-background-color;
			&:hover,
			&--current {
				&,
				&:hover {
					background-color: darken(@font-swatch7-background-color, 5%);
					color: @font-swatch7-color;
				}
			}
		}
	}
	.language-selector.language-selector--dropdown & {
		.language-selector--light& {
			background-color: lighten(@font-swatch7-background-color, 10%);
			&:hover {
				background-color: lighten(@font-swatch7-background-color, 5%);
			}
			&--current {
				background-color: lighten(@font-swatch7-background-color, 10%);
				&:hover {
					background-color: lighten(@font-swatch7-background-color, 5%);
					color: @font-swatch7-color;
				}
			}
		}
		.language-selector--dark& {
			background-color: @font-swatch7-background-color;
			&:hover {
				background-color: darken(@font-swatch7-background-color, 5%);
			}
			&--current {
				background-color: @font-swatch7-background-color;
				&:hover {
					background-color: darken(@font-swatch7-background-color, 5%);
					color: @font-swatch7-color;
				}
			}
		}
	}
	// Current Item
	&--current {
		&:after {
			.language-selector.language-selector--dropdown & {
				position: absolute;
				content: "\25be";
				top: 50%;
				right: 0;
				margin-top: -(@language-line-height/4);
				width: @language-padding*4;
				background-color: transparent;
				line-height: @language-line-height/2;
				font-size: @font-swatch7-font-size;
				color: @font-swatch7-color;
				text-align: center;
			}
		}
		&:hover:after {
			.language-selector.language-selector--dropdown & {
				.language-selector--light& {
					color: @font-swatch7-color;
				}
				.language-selector--dark& {
					color: @font-swatch7-color;
				}
			}
		}
	}
}

// Link
.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 @language-padding*2;
		border: none;
		hyphens: auto;
	}
	// Horizontal - Item
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	// Dropdown - Item
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*4;
	}
	// Link Color
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--dropdown &,
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light&,
		.language-selector--dark& {
			&,
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Icon
.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding*1.5 0;
		min-height: @language-line-height;
		box-sizing: content-box;
		line-height: @language-line-height;
	}
	.language-selector.language-selector--flag-text & {
		margin: 0;
	}
	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
}

// Name
.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-smooth: auto;
		text-rendering: auto;
	}
	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding*1.5 0 @language-padding*1.5 @language-padding;
	}
	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding*1.5 0;
	}
	.language-selector.language-selector--text & {
		display: block;
	}
	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.language-selector--flag-text& {
			@media only screen and (max-width: 480px) {
				display: none;
			}
		}
	}
	// Link Color
	.language-selector.language-selector--horizontal .language-selector__item:hover &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--horizontal .language-selector__item--current:hover & {
		.language-selector--light& {
			color: @font-swatch7-color;
		}
		.language-selector--dark& {
			color: @color-swatch1;
		}
	}
	.language-selector.language-selector--dropdown .language-selector__item &,
	.language-selector.language-selector--dropdown .language-selector__item:hover &,
	.language-selector.language-selector--dropdown .language-selector__item--current:hover & {
		.language-selector--light& {
			color: @font-swatch7-color;
		}
		.language-selector--dark& {
			color: @color-swatch1;
		}
	}
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light& {
			color: @color-swatch1;
		}
		.language-selector--dark& {
			color: @color-swatch1;
		}
	}
}

// -----------------------------
// 3. #HEADER
// -----------------------------

.widget.feature+.bk-header {
	background: transparent;
	position: absolute;
	top: 0;
	z-index: 100;
}

.widget.feature.bk-tpl-hidden+.bk-header {
	background: lighten(@color-swatch6, 5%);
	padding: 30px;
	position: relative;
	width: 100%;
	@media @mobile {
		padding: 25px 30px 15px;
	}
}

#main {
	padding-top: 0;
}

#nav.bk-nav .widget.extendednavigation {
	.js-menu-list {
		margin-top: 30px;
	}
	
	a.pull {
		top: 30px;
		padding: @language-padding*1.5 0;
		height: @language-line-height;
		font-size: @language-line-height;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		@media @mobile {
			top: 30px;
			right: 262px;
		}
		&:after,
		&:before {
			.transition(all 0.5s ease);
		}
		&:after {
			top: 50%;
			right: 9px;
			margin-top: -10px;
			@media @tablet {
				top: 50%;
				right: 9px;
				margin-top: -10px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			background: #353538;
			transform: rotate(-45deg);
			left: 7px;
			top: 20px;
		}
	}

	.open + a.pull {
		top: 10px;
		left: 25px;
		right: auto;
		
		&:after {
			transform: rotate(45deg);
			box-shadow: none;
		}
		
		&:before {
			width: 26px;
		}
	}
}

.bk-header {
	background: @color-swatch1;
	padding: 30px;
	width: 100%;
	@media @mobile {
		padding: 30px 80px 30px 30px;
	}
}

.bk-nav {
	position: fixed;
	z-index: 200;
	right: -320px;
	background: @color-swatch1;
	height: 100%;
	width: 320px;
	.transition(all 0.5s ease);
	.widget.socialicons {
		float: left;
		padding: 30px 15px;
		margin: 0;
		width: 100%;
	}
	@media only screen and (max-height: 450px) {
		height: auto;
	}
	@media @mobile {
		right: -250px;
		width: 250px;
	}
}

.bk-nav .profile {
	padding: 0 35px 30px;
}

.bk-nav .profile .bk-profile-socialicons {
	margin: 0;
}

.contain {
	padding: 40px;
	margin: 0 auto;
	max-width: 1200px;
	@media @mobile {
		padding: 20px;
	}
}

#main {
	z-index: 0;
	display: block;
	-webkit-overflow-scrolling: touch;
	.border-radius(0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bk-pt-home #main .widget.feature.bk-tpl-hidden+.bk-header {
	background: @color-swatch1;
	padding: 30px;
	position: relative;
	right: 0!important;
	width: 100%;
}

// -----------------------------
// 4. #FOOTER
// -----------------------------

.bk-footer {
	.copyright {
		.contain {
			border-top: 1px solid lighten(@color-swatch5, 68%);
			padding: 12px 40px;
		}
		.widget.profile {
			display: block;
			width: 100%;
			color: @font-swatch5-color;
			padding: 30px 0;
			text-align: center;
		}
	}
}

.bk-footer .widget.profile .bk-profile-socialicons span a,
.bk-footer .widget.profile .bk-profile-socialicons span a:hover {
	background-color: @color-swatch2;
}

.widget.profile .bk-profile-socialicons span {
	padding: 3px;
}

.gdpr-footer {
	background-color: transparent;
	margin: 0 auto;
	max-width: 1200px;
	.gdpr-footer__link {
		font-size: @font-swatch7-font-size;
	}
}