@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/less/theme.less";
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/plugins.less";


// -----------------------------
// 3. #Mixins
// -----------------------------

.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}


// -----------------------------
// 4. #SCROLLBARS
// -----------------------------

body, html {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	width: 0px!important;
	height: 0px!important;
}