@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/less/theme.less";
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/plugins.less";

// Mixins

.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.appearance(@appearance: none) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

.transition (@transition...) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition; 
	transition: @transition;
}

// SCROLLBARS

body, html {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	width: 0px!important;
	height: 0px!important;
}